	<!--  body  -->
	<div class="container-fluid" id="h-banner-fluid">
		<div class="row">
			<div class="col-md-12 homebanner">
				<img width="100%" height="auto" src="../../../assets/img/pawbanner1.jpg">
				<div id="h-BannerAbs">
					<div id="h-BannerRel">
						<input type="text" name="searcher" placeholder="SEARCH WHAT YOU WANT" id="h-Searcher">
						<span>FILTER</span>
						<button type="submit" id="h-SearchButton">SEARCH</button>
					</div>
				</div>				
			</div>
		</div>
	</div>

	<div class="container-fluid" id="h-services-fluid">
		<div class="row">
			<div class="col-md-12 h-service-head">
				<h3>OUR SERVICES</h3>
			</div>
			<div class="col-md-12 h-service-content">
				<div class="h-max-center">
					<div class="h-srvice-imghead"><img src="../../../assets/img/symbolsitter.png"><h2>Sitter</h2></div>
					<div class="h-srvice-imghead"><img src="../../../assets/img/symbolwalker.png"><h2>Walker</h2></div>
					<div class="h-srvice-imghead"><img src="../../../assets/img/symbolfood.png"><h2>Food</h2></div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="h-food-fluid">
		<div class="row">
			<div class="col-md-5 col-sm-5 h-food-dog">
				<img class="invisible-575" src="../../../assets/img/homedog.png">
			</div>
			<div class="col-md-7 col-sm-7 h-food-content">
				<h3 class="h-food-h3">1000+<br>FOOD PRODUCTS</h3>
				<img class="visible-575" src="../../../assets/img/homedogonly.png">
				<p class="h-food-p">Pet food is plant or animal material intended for consumption by pets. Typically sold in pet stores and supermarkets, it is usually specific to the type of animal, such as dog food or cat food. Most meat used for nonhuman animals is a byproduct ofthe human food industry, and is not regarded as "human grade".</p>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="h-happy-fluid">
		<div class="row">
			<div class="col-md-7 col-sm-7 h-happy-content">
				<h3 class="h-happy-h3">200+<br>HAPPY CUSTOMER</h3>
				<img class="visible-575" src="../../../assets/img/homepuppyfriendsonly.png">
				<p class="h-happy-p">Pet food is plant or animal material intended for consumption by pets. Typically sold in pet stores and supermarkets, it is usually specific to the type of animal, such as dog food or cat food. Most meat used for nonhuman animals is a byproduct of the human food industry, and is not regarded as "human grade".</p>
			</div>
			<div class="col-md-5 col-sm-5 h-happy-dog">
				<img class="invisible-575" src="../../../assets/img/homepuppyfriends.png">
			</div>
		</div>
	</div>
    <!--  body over  -->
    
    