	 
	<footer class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark" id="FootNav">
				<div class="col-md-12">
				  <div class="noncollapse navbar-noncollapse" id="noncollapsibleNavbar">
				    <ul class="navbar-nav ml-auto mr-auto">
				      <li class="nav-item active">
				        <a class="nav-link" routerLink='/home'>Home</a>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" routerLink="#" id="navbardropdown1" data-toggle="dropdown">Accomodation</a>
						  <div class="dropdown-menu">
					        <a class="dropdown-item" routerLink='/services/c-accomodation/c-home-stay'>Home Stay</a>
					        <a class="dropdown-item" routerLink='/services/c-accomodation/c-kennels'>Kennels</a>
					      </div>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" routerLink="#" id="navbardropdown2" data-toggle="dropdown">Petcare</a>
						  <div class="dropdown-menu">
					        <a class="dropdown-item" routerLink='/services/c-petcare/c-grooming'>Grooming</a>
					        <a class="dropdown-item" routerLink='/services/c-petcare/c-swimming'>Swimming</a>
					        <a class="dropdown-item" routerLink='/services/c-petcare/c-dog-walking'>Dog Walking</a>
					        <a class="dropdown-item" routerLink='/services/c-petcare/c-training'>Training</a>
					        <a class="dropdown-item" routerLink='/services/c-petcare/c-transportation'>Transportation</a>
					        <a class="dropdown-item" routerLink='/services/c-petcare/c-pet-photography'>Pet Photography</a>
					      </div>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" routerLink="#" id="navbardropdown3" data-toggle="dropdown">Services</a>
						  <div class="dropdown-menu">
					        <a class="dropdown-item" routerLink='/services/c-adoption'>Adoption/Lost & Found</a>
					        <a class="dropdown-item" routerLink='/services/c-ngo'>NGO</a>
					        <a class="dropdown-item" routerLink='/services/c-donation'>Wishlist</a>
					        <a class="dropdown-item" routerLink='/services/c-donation'>Rental & Donation</a>
					      </div>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" routerLink='/about-us'>About Us</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" routerLink='/open-forum'>Open Forum</a>
				      </li>
				    </ul>
				  </div>
				</div>
			</nav>
			<ul class="footer-social">
				<li><a routerLink="#"><i class="fab fa-linkedin-in"></i></a></li>
				<li><a routerLink="#"><i class="fab fa-google-plus-g"></i></a></li>
				<li><a routerLink="#"><i class="fab fa-facebook-f"></i></a></li>
			</ul>
			<p class="footer-p">Copyrights &copy; 2018PawClub. All rights reserved</p>
		</div>
	</footer>