@import '~@angular/material/theming';

@mixin rkui-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map_get($theme, background);
  $foreground: map_get($theme, foreground);
}
