<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink='/'>PawClub</button>
    <span class="spacer"></span>
    <button  mat-button routerLink='/register'>Register</button>
    <button  mat-button routerLink='/login'>Login</button>
    </mat-toolbar-row>
</mat-toolbar> -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

    <li class="nav-item">
      <a class="nav-link" routerLink='/login'>Login</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink='/register'>Register</a>
    </li> -->
    <!-- <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li> -->
  <!-- </div>
</nav> -->
  

  <nav class="navbar navbar-expand-md bg-dark navbar-dark" id="MainNav">
		<div class="container">
		  <a class="navbar-brand" routerLink='/home'><img src="../../../assets/img/pawlogo.png"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="collapsibleNavbar">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item active">
		        <a class="nav-link" routerLink='/home'>Home</a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">SERVICES</a>
				  <div class="dropdown-menu">
			        <a class="dropdown-item" routerLink='/services/c-accomodation/'>Accomodation</a>
			        <a class="dropdown-item" routerLink='/services/c-food'>Food</a>
			        <a class="dropdown-item" routerLink='/services/c-petcare'>Petcare</a>
			        <a class="dropdown-item" routerLink='/services/c-adoption'>Adoption/Lost & Found</a>
			      </div>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" routerLink='/services/c-lost'>Lost & Found</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" routerLink='/services/c-donation'>Donate</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" routerLink='/contact-us'>Contact Us</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" routerLink='/login'>Login</a>
		      </li>
		    </ul>
		  </div>
		</div>
	</nav>